.likeBtn {
  margin: 0.3rem;
  margin-left: 1.8rem;
}
.iconHeart {
  font-size: 2rem;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.iconHeartFilled {
  color: coral;
  font-size: 2rem;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.iconHeart:hover {
  transform: scale(1.1);
}
