.photo {
  position: relative;
  break-inside: avoid;
  cursor: pointer;
}
.image {
  width: 100%;
  max-width: 100%;
  /* margin-bottom: 0.8rem; */
  border-radius: 0.8rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 250ms ease-in; */
}
.cover:hover {
  opacity: 0.8;
}
