img {
  vertical-align: bottom;
  display: inline;
}
.album {
  margin-bottom: 1rem;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  /* line-height: 80%; */
  font-size: 1.6rem;
  font-weight: bold;
  /* text-align: center; */
}
.metadata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 0;
}
.visits {
  margin-right: 0.5rem;
}
.likes {
  margin-left: 0.5rem;
}
.image {
  width: 100%;
  max-width: 100%;
  border-radius: 0.8rem;
  border-bottom: 1px solid rgba(239, 239, 239);
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  background-color: black;
  color: white;
}

.cover:hover {
  cursor: zoom-in;
  opacity: 0.5;
}
