:root {
  --viewport-height: 100vh;
  --root-font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4.7rem;
  background-color: #f7f8f9;
}
.lView {
  width: 15%;
}
.ctrView {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  /* padding: 1rem 17rem; */
}
.rView {
  width: 15%;
  padding: 0 2rem;
  /* overflow-y: scroll; */
  /* height: 100vh; */
  /* overflow-y: scroll; */
}

.visualContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  position: relative;
  height: calc(var(--viewport-height) - 4.68rem);
  object-fit: scale-down;
  /* height: 100vh - 4.68rem; */
  /* margin: 2rem; */

  /* border-radius: 1rem; */
  /* overflow: hidden; */

  /* border-bottom: 0.1rem solid rgba(239, 239, 239); */
}
.description {
  border-top: 0.1rem solid rgba(239, 239, 239);
}

@media (max-width: 1000px) {
}
