* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4.7rem;
  background-color: #f7f8f9;
}
.lView {
  width: 15%;
}
.ctrView {
  width: 70%;
  padding: 1rem 17rem;
}

.rView {
  width: 15%;
  padding: 0 2rem;
  /* overflow-y: scroll; */
  /* height: 100vh; */
  /* overflow-y: scroll; */
}
.mainContainer {
  width: 34rem;
  margin: auto;
  position: sticky;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  overflow: hidden;
}
.visualContent {
  display: flex;
  flex-direction: column;

  position: relative;
  /* border-radius: 1rem; */
  overflow: hidden;

  border-bottom: 0.1rem solid rgba(239, 239, 239);
}
.description {
  border-top: 0.1rem solid rgba(239, 239, 239);
}

@media (max-width: 1000px) {
}
