* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: 6rem;
}
.mainContainer {
  width: 60rem;
  margin: auto;
  position: sticky;
  top: 6rem;
  display: flex;
  flex-direction: row;
  border-radius: 1.8rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.mainPhoto {
  width: 50%;
}
.metadata {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
}
