* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  position: relative;
  top: 4.5rem;
}
.albums {
  top: 100rem;
  width: calc(100% - 2.5rem);
  margin: 1.5rem auto;
  columns: 4;
  column-width: 18rem;
  column-gap: 1.2rem;
}
@media (max-width: 1200px) {
  .photos {
    width: calc(100% - 2.5rem);
    columns: 3;
    column-width: 20rem;
  }
}
@media (max-width: 768px) {
  .photos {
    columns: 2;
    column-width: 20rem;
  }
}
@media (max-width: 480px) {
  .photos {
    columns: 1;
    column-width: 20rem;
  }
}
