.mainPhotoCover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  background-color: black;
  color: white;
}
.mainPhotoCover:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btm {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.metadata {
}
.title {
  font-size: 2.3rem;
}
.likes {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.iconHeart {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  transition: all 200ms ease-out;
}
.iconHeart:hover {
  transform: scale(1.1);
}
.likesCnt {
  font-size: 1.6rem;
}
.enlarge {
  font-size: 2rem;
  transition: all 200ms ease-out;
}
.enlarge:hover {
  transform: scale(1.1);
}
