.mainPhoto {
  /* object-fit: scale-down; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 1.8rem;
  /* aspect-ratio: 16 / 9; */
  /* margin: auto; */
}
.ld {
  background-color: grey;
}
