* {
  box-sizing: border-box;
  user-select: none;
}

.mainTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 75rem;
  margin: auto;
  height: 100%;
}
.secDescription {
  font-size: 1.5rem;
}
