* {
  box-sizing: border-box;
}
.sectionRef {
  position: relative;
  top: 4.5rem;
}
.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 75rem;
  margin: 2rem auto;
  height: 100%;
}
.secDescription {
  font-size: 1.5rem;
}

/* Home */
#home {
  /* background: center
      url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdaPJMD%2FbtqCinzhh9J%2FakDK6BMiG3QKH3XWXwobx1%2Fimg.jpg")
      no-repeat; */
  /* background-size: cover; */
  color: var(--color-white);
  padding: 5rem 8rem;
  padding-top: 7rem;
  text-align: left;
  overflow: hidden;
}
.initSize {
  width: 100vw;
  height: 100vh;
}
.resize {
  margin: 300px auto 0;
  width: 70vw;
  height: 50vh;
}
.home__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.home__text {
  z-index: 0;
}
.home__title {
  font-size: 3rem;
  margin: 1rem 0;
}
.home__title {
  color: var(--color-accent);
}
.home__description {
  font-size: 1.3rem;
}
.home__contact {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
}
.home__contact:hover {
  background-color: var(--color-white);
  color: var(--color-text-black);
  outline: 2px solid var(--color-accent);
}

/* About */
.advantages {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}
.advantage {
  height: 36rem;
  padding: 2rem 1rem;
  color: var(--color-text-black-content);
}
.advantage__thumbnail {
  position: relative;
}
.advantage__img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.advantage__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
}
.advantage__link:hover {
  opacity: 0.8;
}

.advantage__description {
  width: 100%;
}

/* Friendship */
#friendship {
  background-color: var(--color-primary-variant);
}
.friendship__photo {
  background-color: var(--color-white);
  width: 60%;
  height: 600px;
  margin: auto;
}

/* Work */
#work {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Study */
.studies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.study {
  background-color: var(--color-box);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1),
    0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1);
}
.study__title {
  color: var(--color-text-black);
  font-size: 1.5rem;
  text-align: left;
}
.study__metadata {
  display: flex;
  justify-content: space-between;
}
.study__period {
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}
.study__img {
  width: 2rem;
  height: 2rem;
}
.study__subdata {
  display: flex;
  justify-content: space-between;
}

/* Achievements */
.achievements {
  margin: 3rem;
}
.achievement {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.achievement__year {
  font-size: 2rem;
}
.achievement__details {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.achievement:nth-child(even) .achievement__year {
  order: 1;
}

/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  border-radius: 100%;
  text-align: center;
  color: var(--color-text-white);
  box-shadow: 5px 5px 0px 0px var(--color-primary-variant);
}
