.on {
  position: relative;
  width: 22rem;
  height: 12rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.off {
  position: relative;
  width: 22rem;
  height: 12rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.period {
  position: absolute;
  top: 1.4rem;
  right: 1.25rem;
  width: 10.5rem;
  padding: 0.3rem 0.8rem;
  color: white;
  background-color: palevioletred;
  line-height: 110%;
  border-radius: 1rem;
  font-weight: bold;
}
.top {
  text-align: left;
}
.name {
  margin-left: 0.2rem;
}
.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2rem;
}
.icon {
  background-color: white;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin-right: 0.2rem;
  box-shadow: rgba(216, 112, 147, 0.25) 0px 6px 12px -2px,
    rgba(216, 112, 147, 0.3) 0px 3px 7px -3px;
}
.btm {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.btn {
  margin-right: 0.3rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
