.btn {
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  position: fixed;
  right: 7rem;
  top: 50%;
  background-color: lightgray;
  border-radius: 100%;
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.btn:hover {
  cursor: pointer;
}
