.sideBar {
  position: sticky;
  width: 14rem;
  /* height: 18rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: lightgray; */
}
.content {
  /* background-color: black; */
  /* width: 10rem; */
  height: 2.4rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.3rem;
}
.btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 2rem;
  padding: 0.5rem 0.9rem;
  color: rgb(0, 0, 0, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}
