* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.photos {
  width: 1400px;
  margin: 1.5rem auto;
  columns: 4;
  column-gap: 1.2rem;
}
@media (max-width: 1200px) {
  .photos {
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px) {
  .photos {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .photos {
    columns: 1;
  }
}
