ul {
  list-style: none;
}
.detail {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 1rem 2rem 1rem;
  text-align: center;
}
.divider {
  margin: auto;
  width: 100%;
  position: relative;
}
.divider .divider__shadow {
  overflow: hidden;
  height: 20px;
}
.divider__shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 6px black;
}
.comments__title {
  padding: 0.5rem 2rem 1rem;
}
.comments__list {
  padding: 0.5rem 2rem 1rem;
  width: 100%;
  height: 300px;
}
