.container {
  height: 9rem;
  width: 100%;
  padding: 0.5rem 2rem 0 2rem;
  margin-top: auto;
  border-top: 1px solid rgba(239, 239, 239);
  /* position: sticky; */
}
.data {
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "REM", sans-serif;
}
.visits {
  margin-left: auto;
  margin-right: 0.5rem;
}
.visitsCnt {
  margin-left: 0.5rem;
}
.likes {
  margin-right: 0.5rem;
}
.likesCnt {
  margin-left: 0.5rem;
}
.comment {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
}
.profile {
  background-color: black;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
}
.form {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
}
form {
  flex: 1;
}
.input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2rem;
  background-color: rgba(239, 239, 239);
  padding: 0 1.5rem;
  outline-color: coral;
}
