* {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "REM", sans-serif;
}
ul {
  list-style: none;
}
.top {
  padding: 1rem 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.8rem;
  border-bottom: 1px solid rgba(239, 239, 239);
}
.title {
  padding: 1rem 2rem 1rem;
  text-align: center;
}
.cnt {
  line-height: 2rem;
  text-align: center;
}
.commentsCnt {
  margin-left: 0.5rem;
}
.btnDownld {
  background-color: coral;
  color: white;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.body {
  padding: 1rem 1.5rem 1rem;
  font-weight: bold;
  width: 100%;
  overflow: auto;
}
.comments__list {
  padding: 1rem 1.5rem 1rem;
  width: 100%;
  max-height: 20rem;
  overflow: auto;
}
